table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: monospace;
    transition: all 0.8s ease;
}

div, label{
    font-family: monospace;

}

.azul {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: LightBlue;
}
 
.verde {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: PaleGreen;
}
.rosa{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: LightPink;
}
.roxo{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: SlateBlue;
}